.card .p-menuitem-text{
    color:white !important;
}

.card .p-menuitem-text:hover{
    color:black !important;
}

.p-menuitem-link:hover{
    color:white
}

.p-menubar-root-list{
    padding:0 !important;
}

.p-menubar-root-list .p-menuitem{
    background-color: #262626;
}